body {
  font-family: sans-serif;
  min-height: 100vh;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.flex > section {
  display: flex;
  align-items: center;
  width: 32%;
  padding-bottom: 32%;
  margin-bottom: 2%;
  position: relative;
}

.flex > section > p {
  flex-grow: 1;
}

@media (max-width: 1600px) {
  .flex > section {
    max-width: 250px;
  }
}

.flex ul {
  display: flex;
  justify-content: space-between;
}

.flex aside {
  width: 100%;
}

.flex > section {
  background: #56bcd2;
  padding: 1em;
  margin: 0.5em;
  border-radius: 4px;
}

.flex ul {
  list-style-type: none;
  padding: 0;
}

.flex li {
  background: #f6b1d0;
  font-weight: 700;
  padding: 0.3em 0.6em;
  border-radius: 1em;
  text-align: center;
}

.header {
  padding: 1em;
  text-align: center;
  background: #f8f8f8;
  color: #ffef03;
}
#peachy {
  border-radius: 1em;
  top: 100%;
  font-family: 'Fredoka One';
  font-size: 50px;
}
#name {
  color: #ffef03;
  font-weight: bold;
}

.peach {
  height: 8%;
  width: 9%;
  position: relative;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

div.polaroid {
  margin-top: 40px;
}
.single-plant{
  left: -7%;
  position: relative;
  min-height: 100vh;
}
.plant-image {
  height: 65vh;
  width: 50vw; 
}
#plant-name{
  font-size: 2.25rem;
  line-height: 1.1;
}
div.word-plant.column{
  margin-top: 40px ;
  margin-bottom: 40px;
  position: static;
}
.description {
  margin-top: 50px;
  position: relative;
  padding: 16px;
 /*  padding: 0px 10px 3vmax 10px; */
  font-family: Arial, Helvetica, sans-serif;
}
div.plant-description {
  margin: 10px
}
.name-plant {
  font-size: 3rem;
}

#single-plant {
  margin-left: 25%;
  height: 100vh;
}
footer.plant-footer{
  position: static;
  left: 0;
  bottom: 0;
  height: 10%;
  width: 100%;
  /* position: static;
  flex: 0 0 50px;/
  margin-top: auto; */
}
 
@media only screen and (max-width: 767px){
  footer.footer {
  margin-top:25px;
  padding-top: 15px;
  padding-bottom: 10px;
  position:static;
  left:0;
  bottom:0;
  width:100%;
  } }